@media (max-width: 576px){
    .skills2{
        font-size: nth($fz, 4);
    }
    .ff{
        font-size: nth($fz, 4);
    }
    .h1tino{
        font-size: nth($fz, 3);
    }
    .diploma{
        display: block;
        text-align: center;
    }
    .imgdiploma{
        width: 70%;
        margin: 60px;
    }
    .mas3{
        position: relative;
    }
    .card{
        width: 85%;
    }
    main .asd11{
        visibility: visible;
    }
    .btn1{
        text-decoration: none;
        color: #7c73e6;
        font-weight: 900;
        font-size: 17px;
        margin: 10px;
        padding: 10px;
        border-bottom: 5px solid #c4c1e0;
        border-radius: 50px;
    }
    .papa{
        display: block;
    }
}
@media (max-width: 414px){
    .h1tino{
        font-size: nth($fz, 4);
    }
    .card .card-title{
        font-size: 20px;
    }
    .btn1{
        font-size: 13px !important;
        margin: 5px !important;
    }
}
@media (max-width: 828px){
    .nav2{
        visibility: visible;
        text-align: end;
        margin-top: 20px;
    }
    nav{
        flex-direction: column;
    }
    .asdasd{
        text-align: center;
        @media (max-width: 576px){
            visibility: hidden;
            opacity: 0;
        }
    }
    .btn1{
        text-decoration: none;
        color: #7c73e6;
        font-weight: 900;
        font-size: 17px;
        margin: 10px;
        padding: 10px;
        border-bottom: 5px solid #c4c1e0;
        border-radius: 50px;
    }
    .ul2{
        display: none;
    }
    .card .card-title{
        font-size: 20px;
        margin-bottom: 20px;
    }
}