.papa{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.nn{
    background-color: #f9f9f9;
}
.card{
    margin: 4rem;
    overflow: hidden;
    position: relative;
    .card-body{
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        position: absolute;
        color: #bbb;
        padding: 30px;
        text-align: center;
        margin-top: 40%;
    }
    .card-img{
        width: 30rem;
        height: 30rem;
        object-fit: cover;
        filter: brightness(0.2);
    }
    .card-title{
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: 500;
        color: #fff;
        margin-bottom: 50px;
    }
}
.div-usados{
    margin-top: 2rem;
}
.mas-usados{
    border-radius: 50%;
    width: 20%;
    height: 15%;
}
.jsusado{
    width: 16%;
}